<div id="footer" class="clear">
  <ul class="stacked">
    <li><%= link_to t(:home), root_path %></li>
    <% if logged_in? -%><li><%= link_to "Dashboard", dashboard_path %></li><% end -%>
    <li><%= link_to t(:observations), observations_path %></li>
    <% if logged_in? -%>
      <li><%= link_to t(:your_observations), observations_by_login_path(current_user.login) %></li>
    <% end -%>
    <li><%= link_to "Taxa", taxa_path %></li>
    <li>
      <%= link_to t(:view_non_mobile_site), toggle_mobile_path, :class => "box" %>
    </li>
    <% if logged_in? -%>
      <li><%= link_to t(:sign_out), logout_path, :class => "meta box" %></li>
    <% end -%>
  </ul>
  <div id="footer_text" class="stacked">

    <a href="/about"><%= t(:about_inaturalist) %></a> &nbsp;
    <a href="/help"><%=t(:help)%></a> &nbsp;
    <a href="http://inaturalist.org/terms.html"> <%= t(:terms_of_service) %></a> &nbsp;
    <a href="http://inaturalist.org/privacy.html"><%= t(:privacy_policy) %></a> &nbsp;
    <p class="description">
      <%= t(:follow_us_on) %>
      <a href="http://twitter.com/inbiocr">Twitter</a> <span class="description">&amp;</span>
      <a href="http://www.facebook.com/inbio">Facebook</a> &nbsp;
    </p>
  </div>
  <div>
    Este sitio funciona gracias al excelente software creado por <a href="http://www.inaturalist.org/" target="_new" ><img src="/images/inaturalist-logo.gif"></img></a>
  </div>
</div>

